#include <windows.h>
#include "resource.h"
#include "version.h"

IDI_APP_ICON ICON "app.ico"
IDR_WEBVIEW2_LOADER RCDATA "../sdk/x64/WebView2Loader.dll"
IDR_BRIDGE_JS RCDATA "../src/bridge.js"

1 VERSIONINFO
FILEVERSION YTR_VERSION_RC
PRODUCTVERSION YTR_VERSION_RC
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "iALTURKi"
            VALUE "FileDescription", "ytr-music (iALTURKi Edition)"
            VALUE "FileVersion", YTR_VERSION_STRING
            VALUE "InternalName", "ytr-music"
            VALUE "LegalCopyright", "Copyright (C) 2026 iALTURKi. MIT License."
            VALUE "OriginalFilename", "ytr-music.exe"
            VALUE "ProductName", "ytr-music"
            VALUE "ProductVersion", YTR_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

// Enable Windows Modern Visual Styles and Per-Monitor DPI Awareness
1 24 "app.manifest"
